

@import 'variables';

@import 'patterns/bdler_p_image_text_recipe';


html, body {
    max-width: 100%;
    overflow-x: hidden;
 }

body {
	font-family: sans-serif;
	color: $text-color;
	
	
	a {
		color: $link-color;
	}
}

